@import url("htpps://fonts.googlesapis.com/css2?family=Eczar&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: whitesmoke;
  font-size:62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
body {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
}

.navbar{
  max-width: 1200px;
  z-index: 999;
  box-shadow: 0px 1px 1px black;
}
.title{
  font-size: clamp(2rem,1vw,3.2rem);
  font-family: "Eczar", serif;
}
.navbar > .container-fluid > .collapse  a{
  font-size: clamp(1.6rem,1vw,1.7rem);
}
.carousel-inner h3{
  font-size: clamp(2rem,2vw,2.8rem);
}
.carousel-inner p{
  font-size: clamp(1.5rem,2vw,1.8rem);
}

.main-title{
  font-size: clamp(2.5rem,2vw,4rem);
  font-family: "Eczar", serif;
}
.main-title::after{
  content:"";
  width: 15%;
  height: 3px;
  display: block;
  margin: 10px auto;
  background-color: #ffd700;
}
.card{
  box-shadow: 1.5px 1.5px 1px grey;
}
.card h4{
  font-size: clamp(2rem,2vw,3rem);
}
.card p{
  font-size: clamp(1.5rem,2vw,1.8rem);
}
.card button{
  font-size: clamp(1.5rem,1vw,1.9rem);
  height: 38px;
}
.sobre p{
  font-size: clamp(1.3rem,2vw,1.8rem);
}
.bg-smoke{
  background-color: whitesmoke;
}
.footer h5{
  font-size: clamp(1.8rem,2vw,2.2rem);
}
.footer p{
  font-size: clamp(1.5rem,1vw,2rem);
}
.form{
  box-shadow: 0.8px 0.8px 3px black;
  max-width: 400px;
}
.form{
  font-size: clamp(1.5rem,1vw,1.8rem);
}
.form textarea{
  font-size: clamp(1.5rem,1vw,1.8rem);
}
.btn-form{
  color: #ffd700;
  font-size: clamp(1.4rem,1vw,1.6rem);
}

.btn-form:hover{
  color:white;
}
