@import url("htpps://fonts.googlesapis.com/css2?family=Eczar&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
body {
  width: 100%;
  height: 100vh;
  background-color: white;
}
.navbar{
  z-index: 999;
  box-shadow: 0px 1px 1px black;
}
.card{
  box-shadow: 1.5px 1.5px 1px grey;
}

.title{
  font-family: "Eczar", serif;
}
.main-title{
  font-family: "Eczar", serif;
}

.main-title::after{
  content:"";
  width: 15%;
  height: 3px;
  display: block;
  margin: 10px auto;
  background-color: #ffd700;
}
.bg-smoke{
  background-color: whitesmoke;
}

.form{
  box-shadow: 0.8px 0.8px 3px black;
  max-width: 600px;
}
.btn-form{
  color: #ffd700;
}

.btn-form:hover{
  color:white;
}